<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.mybatis_dev_kjy.dao.studentMapper">
	<sql id="selectSql">
		select STUD_ID as studid,name,EMAIL,DOB,PHONE
		from students
	</sql>
	<sql id="whereSql">
		<where>
			<if test="studId != null">
				STUD_ID=#{studId}
			</if>
		</where>
	</sql>
	<select id="selectstudentbyno" parameterType="Student"
		resultType="Student">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
		<!-- where STUD_ID=#{studId} -->
	</select>
	<select id="selectStudentByAll" resultType="Student">
		<include refid="selectSql"/>
	</select>
	<insert id="insertStudent" parameterType="Student">
		INSERT INTO mybatis_dev.students (STUD_ID,NAME, EMAIL, PHONE, DOB)
		VALUES(#{studId},#{name}, #{email}, #{phone}, #{dob})
	</insert>
	
	<update id="updateStudent" parameterType="Student">
		UPDATE mybatis_dev.students
		SET NAME=#{name}, EMAIL=#{email}, PHONE=#{phone}, DOB=#{dob}
		<!-- WHERE STUD_ID=#{studId}; --> 
		<include refid="whereSql"/>
	</update>
	<delete id="deleteStudent">
		DELETE FROM mybatis_dev.students
		WHERE STUD_ID = #{studId}
		
	</delete>
	<resultMap type="Student" id="StudentResult">
		<id property="studId" column="stud_id"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="dob" column="dob"/>		
	</resultMap>
	<select id="selectStudentByAllForResutlMap" resultType="map">
		<include refid="selectSql"/>
	</select>
	<resultMap type="Student" id="StudentWithAddressResult" extends="StudentResult">
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>
		
	</resultMap>
	<sql id="selectJoinAddressSql">
		select STUD_ID,NAME,EMAIL,PHONE,a.ADDR_ID,a.STREET,a.CITY,a.STATE,a.ZIP,a.COUNTRY
		from students s left outer join addresses a on s.ADDR_ID=a.ADDR_ID
	</sql>
	
	<select id="selectStudentByNoForResultMapExtents" parameterType="Student" resultMap="StudentWithAddressResult">
		<include refid="selectJoinAddressSql"/>
		<include refid="whereSql"/>
		<!-- WHERE STUD_ID = #{studId} -->
	</select>
	<resultMap type="Student" id="StudentWithAddressResult2">
		<id property="studId" column="stud_id"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="dob" column="dob"/>
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>
		
	</resultMap>
	
	<select id="selectStudentByNoForResultMapExtents2" resultMap="StudentWithAddressResult2">
		select STUD_ID,NAME,EMAIL,PHONE,a.ADDR_ID,a.STREET,a.CITY,a.STATE,a.ZIP,a.COUNTRY
		from students s left outer join addresses a on s.ADDR_ID=a.ADDR_ID
		WHERE STUD_ID = #{studId}
	</select>
</mapper>